<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Make sure everyone have same sources for more reliability -->
        <clear />

        <!-- Add default nuget source, since we removed it -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

        <!-- Add new source that will point to directory with *.nupkg files. 
         Parameter 'key' can have arbitrary text -->
        <!-- <add key="localFiles" value="./External/Packages/" /> -->
    </packageSources>
</configuration>